#header{
    background-image:url('/images/background-image.jpg');
height:400px;
background-size:cover;
}
#header{
    text-align:center;
    background-position-x: center;
    color:white;
    font-family: 'Lato', sans-serif;
    font-style: inherit;
    text-decoration-style: solid;
    padding-top:20%;
}
.button-scroll-ymy_btn{
    padding:20px 20px;
    font-size: large;
    border-radius:70px;
    background-color: aqua;
    text-decoration: none;
   
}
#header h1{
    font-size: xx-large;
}
#header p{
    font-size: x-large;
    padding-bottom: 5%;
}
#overlay {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0);
    z-index: 2;
}
nav {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    margin-right: 0%;
 }
 nav>ul {
    text-align: right;
}
nav>ul>li {
    display: inline-block;
}
nav ul li a {
    padding: 18px;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.733);
}
nav>ul>li>a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0), insert 0 0 1px rgba(255, 255, 255, 0.6);
    background: darkgray;
    color: rgba(0, 35, 122, 0.7);
}
   #aboutme{
       background-color: aliceblue;
       font-family:'Lato', sans-serif;
       text-align: center;
       font-size:20px;
       padding:20px 20px;
   }
   #aboutme p{
    font-size: large;
    
}
#aboutme h1{
    font-size: x-large;
    padding-bottom: 2%;
}
#projects{
    background-color: aliceblue;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
}

#png, #jnp{
   display: flex;
}
#projects img{
    height:200px;
    width:250px;
    box-shadow:5px 6px 6px rgba(255, 255, 255, 0.733);

}
#projects{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    margin-right:5%;
    margin-left:5%;
}
