#header{
    background-image:url('/images/background-image.jpg');
height:500px;
background-size:cover;
}
#header{
    text-align:center;
    background-position: bottom;
    color:white;
    font-family: 'Lato', sans-serif;
    font-style: inherit;
    font-size: xx-large;
    text-decoration-style: solid;
    padding-top:20%;
}